body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.nav_container {
    width: 100%;
    height: 50px;
    background-color: rgb(58, 58, 58);
}

.nav_bar {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav_bar ul li {
    
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav_bar ul li a:hover {
    -webkit-box-shadow:0px 0px 12px 8px rgba(255,255,255,0.52);
-moz-box-shadow: 0px 0px 12px 8px rgba(255,255,255,0.52);
box-shadow: 0px 0px 12px 8px rgba(255,255,255,0.52);
background-color: rgb(0, 0, 0);
    border-radius: 1px;
}

.titulo_container {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.titulo_container h1 {
    color: azure;
}

.titulo_container a {
    text-decoration: none;
    color: white;
}
/*SECTION DE CV.*/

.cv_section {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

/*CONTENEDOR DE LOS DIVS DEL CV.*/

.cv_container { 
    width: 80%;
    height: auto;
    display: flex;
    background-color: rgb(255, 0, 0);
    border: solid 1px rgb(39, 39, 39);
}

/*BARRA LATERAL CON INFORMACIÓN PERSONAL.*/

.personal_div { 
    width: 25%;
    height: auto;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

/*CONTENEDOR INFORMACIÓN ACÁDEMICA/LABORAL/ETC.*/

.life_section {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 75%;
    border-left: solid 1px rgb(39, 39, 39);
    display: flex;
    align-items: center;
    padding-top: 29px;
}

/*FOTO CV*/

.personal_info {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.personal_info h2 {
    font-size: 25px;
    margin-bottom: -10px;
}

.personal_img {
    display: flex;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    height: 20%;
}

.personal_img img{
    object-fit: cover;
    width: 180px;
    height: 220px;
}

.personal_separador {
    width: 100%;
    background-color: rgb(253, 0, 0);
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(92, 92, 92);
}

.personal_separador h2 {
    margin-left: 10px;
    font-weight: 700;
    font-size: 22px;
    
}

.personal_perfil {
    display: flex;
    flex-direction: column;
    margin-left: -23px;
    
}

.personal_perfil h3{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.personal_perfil p{
    margin-top: -10px;
    margin-bottom: 10px;
}

.personal_hab {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}

.personal_hab p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.resume_div {
    width: 90%;
    height: auto;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    font-weight: 600;
    text-align: justify;
}

.separador {
    width: 90%;
    height: 2px;
    background-color: rgb(100, 100, 100);
    margin-bottom: -10px;
    margin-top: -10px;
}

.resume_category {
    width: 90%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
}

.experience_section {
    width: 90%;
    height: 600px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
}

.date_name_container {
    width: 100%;
    height: 700px;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
}

.experience_date_container {
    background-color: #2cdb2600;
    width: 30%;
    height: 400px;
    margin-top: -20px;
}

.experience_name_container {
    background-color: rgba(165, 42, 42, 0);
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: -25px;
}

.date {
    width: 100%;
    background-color: rgba(240, 255, 255, 0);
    margin-bottom: 100px;
}

.date p {
    margin-bottom: -20px;
}

.name {
    display: flex;
    height: auto;
    width: 100%;
    background-color: rgba(50, 226, 226, 0);
}

.job {
    width: 100%;
    background-color: #2cdb2600;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-bottom: -20px;
}

.job h3 {
    margin-bottom: -11px;
    margin-top: -21px;
    font-size: 17px;
    font-weight: 500;
}

.date_space {
    height: 95px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.education_container {
    width: 90%;
    height: 200px;
    display: flex;
}

.education {
    margin-top: -8px;
    width: 70%;
}

.education_container>.date {
    width: 30%;
}

.hability_container {
    display: flex;
    width: 90%;
    height: 130px;
    background-color: rgba(11, 165, 93, 0);
}

.hability_separador {
    margin-top: -80px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
}

.hability_separador>.separador {
    width: 100%;
}

.hability_list {
    margin-bottom: -30px;
}

.hability_list p {
    margin-bottom: -10px;
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_info {
    width: 70%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
}

.button_info {
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4ps rgb(100, 100, 100);
}

.modal-container {
    display: flex;
    background-color: black;
    width: 70%px;
    height: 170px;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    margin-left: 250px;
    top: 1190px;
    opacity: 0;
    transition: 500ms;
}

.show {
    pointer-events: auto;
    opacity: 1;
    transition: 500ms;

}
    

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 30px 50px;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(61, 61, 61);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
}

.button_modal_1 {
    width: 15%;
    color: white;
    background-color: rgb(78, 78, 78);
    border: none;
    height: 30px;
    border-radius: 3px;
}